@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    background-color: #E0FFFF;
}

.cabecalho {
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    height: 130px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 130%;
    text-shadow: white 1px 1px 10px;
}

.recordWhenNotpressed {
    margin: 2%;
    width: 30%;
    height: 530px;
    background-color: #F0F8FF;
    border: 1px solid black;
    border-radius: 20px;
    -webkit-transition: .4s;
}

.recordWhenPressed {
    margin: 2%;
    width: 100%;
    height: 530px;
    background-color: #F0F8FF;
    border: 1px solid black;
    border-radius: 20px;
    -webkit-transition: .4s;
}

.inputsRecordWhenPressed {
    padding-top: 10px;
}

.tabela {
    margin: 20px;
    border: 1px solid #B0E0E6;
    border-radius: 10px;
    width: 100%;
    overflow: scroll;
    height: 315px;
}

.classificaoces {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.classificaoces div {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.rowList {
    margin: 5px;
    border-radius: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.imagens img {
    display: flex;
    width: 100%;
}

.imagem {
    display: grid;
    align-items: center;
    justify-content: center;
}

li {
    list-style-type: none;
}

.rowList {
    display: flex;
    justify-content: space-between;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #E0FFFF;
    border: 1px solid #B0E0E6;
    padding: 5px;
}

.tituloRgstr {
    width: 100%;
    height: 15%;
    background-color: cadetblue;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloDivRgstr {
    font-size: 200%;
    font-family: 'Readex Pro', sans-serif;
    color: black;
    text-shadow: white 1px 1px 3px;
}

.paiDivRgstr {
    display: flex;
    justify-content: center;
}

.botaoMostraTabela {
    display: flex;
    justify-content: center;
}

.inputs {
    padding: 5px;
}

.inputsRecordWhenNotpressed {
    display: none;

}

.inputText {
    padding-left: 10px;
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    background-color: #E0FFFF;
    border: 1px solid black;
    border-radius: 20px;
}


.inputText::placeholder {
    color: black;
    padding-left: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fButtons {
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

.send {
    padding: 5px;
    margin: 5%;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #00FA9A;
    color: #00FA9A;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
}

.send:active {
    border: 1px solid #00FA9A;
    color: white;
    background-color: #00FA9A;
}

.delete {
    padding: 5px;
    margin: 5%;
    width: 100%;
    height: 100%;
    background-color: #CD5C5C;
    border-radius: 10px;
    border: 1px solid #CD5C5C;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
}

.delete:active {
    border: 1px solid #CD5C5C;
    color: white;
    background-color: #DC143C;
}

.mostraTabela {
    background-color: white;
    color: #4169E1;
    border-radius: 10px;
    border: 1px solid #4169E1;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    margin: 5px;
    padding: 5px;

}

.mostraTabela:active {
    background-color: #4169E1;
    color: white;
    border: 1px solid #4169E1;
}

.pessoasCadastradas {
    display: flex;
    justify-content: center;

}

.funcionariosCadastrados {
    margin: 5px;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
    border: 1px solid black;
    border-radius: 10px;
}

.paiRegistro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.campoDePesquisa {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campoFiltrado {
    padding: 10px;
    padding-left: 10px;
    margin: 10px;
    width: 80%;
    height: 25px;
    margin-bottom: 10px;
    background-color: #E0FFFF;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 20px;
}

.campoFiltrado::placeholder {
    color: black;
    padding-left: 10px;
}

.filter {
    margin: 2%;
    width: 30%;
    height: 530px;
    background-color: #F0F8FF;
    border: 1px solid black;
    border-radius: 20px;
    -webkit-transition: .4s;
}
.filterNone {
    display: none;
}